html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Arial";
	background-color: black
}

body::-webkit-scrollbar {
    width: 10px
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3)
}
 
body::-webkit-scrollbar-thumb {
	background-color: grey;
	height: 140px
}

.overflow {
	overflow: hidden
}

#topnavi {
	background-color: black;
	display: block;
	position: fixed;
	top: -56px;
	width: 100%;
	z-index: 111;
	transition: 0.5s;
	transition: top 0.3s;
}

.mobile {
	background-color: white;
	position: fixed;
	top: 0;
	display: none;
	width: 100%;
	height: 54px;
	z-index: 111;
	transition: 0.5s
}

#topnavi a {
	text-decoration: none
}

.parts {
	display: inline-block;
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	transition: 0.3s;
	text-shadow: 0.7px 0px 0.7px #d6d6d6
}

.dropbtn {
	background-color: black;
	display: inline-block;
    padding: 14px 16px;
    font-size: 20px;
    border: none;
	text-decoration: none!;
    cursor: pointer;
	text-shadow: 0.7px 0px 0.7px #d6d6d6
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1
}

.dropdown-content a {
	font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.dropdown a:hover {background-color: #f1f1f1}

button:focus {outline:0;}

.trigger-icon, .trigger-icon1 {
	background-color: black;
	cursor: pointer;
    margin: 0;
    padding: 14px 16px;
    top: 0;
    left: 0;
}

.trigger-icon {
	display: inline-block;
	position: absolute
}

.trigger-icon1 {
	display: none;
	position: fixed
}

.trigger-icon span, .trigger-icon1 span {
	box-shadow: 0.9px 0px 1px #d6d6d6;
	background-color: white;
    width: 30px;
    height: 4px;
    display: block;
    margin-bottom: 8px
}

.trigger-icon span:last-child, .trigger-icon1 span:last-child {
    margin-bottom: 0px
}

#heading {
	text-shadow: 0.9px 0px 1px #292c30;
	text-align: center;
	font-size: 25px;
	color: black;
	padding-top: 10px;
	font-weight: 700
}

#mobilem {
	margin-top: 54px;
	width: 100%;
	height: 100%;
	display: none;
	color: white;
	background-color: black;
	overflow: auto;
	position: fixed;
	z-index: 10
}

#mobilem a{
	color: white;
	text-align: center;
	white-space: nowrap;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    display: block;
	text-shadow: 0.9px 0px 2px #d6d6d6;
}

#content {
	display: block;
	z-index: 5;
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom: -300px; opacity: 0 } 
	to { bottom: 0px; opacity: 1 }
}

@keyframes animatebottom { 
	from{ bottom: -300px; opacity: 0 } 
	to{ bottom: 0; opacity: 1 }
}

.show {display:block;}

.sidenav {
	background-color: black;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
	left: 0;
    overflow: auto;
    transition: 1s;
    padding-top: 60px
}

.sidenav a {
	color: white;
	text-shadow: 0.9px 0px 2px #d6d6d6;
	line-height: 40px;
	font-weight: 400;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    display: block;
	text-align: center;
	white-space: nowrap;
    transition: 0.3s
}

.sidenav a:hover:not(:first-child) {
	font-size: 30px
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px!important
}

#image {
	width: 100%;
	z-index: 2
}

.textcontainer {
	float: left;
	width: 100%;
	min-height: 100px;
	background-color: black
}

#caption {
	font-weight: 700;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 10px
}

#text {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.8;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px
}

@media screen and (max-width: 1320px) {
	#topnavi a {
		display: none
	}
	.dropbtn {
		display: none
	}
}

@media screen and (max-width: 1100px) {
	.mobile {
		display: block
	}
	.imagecover {
		margin-top: 54px
	}
	#topnavi {
		display: none!important
	}
	.trigger-icon1 {
		display: block
	}
}
